@use 'src/styles/abstracts' as *;

@mixin flex-box($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

.loader{
    @include flex-box(row);
    width: 100%;
    height: 100vh;
}