@use 'src/styles/abstracts' as *;
@mixin flex-box($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
.main{
    @include flex-box(column);
    padding: 0.5em 2em 2em 2em;
    overflow-y: auto;
    flex-wrap: wrap;
    gap: 2em;
    width: 100%;
}

.filterContainer {
    @include flex-box(column);
    width: 100%;
    gap: 0.5em;
}

.filter {
    @include flex-box(column);
    padding: 0.3em 1.3em;
    width: 100%;
    height: 9dvh;
    border: 1px solid rgba(0, 0, 0, 0.911);
    border-radius: 12px;
}

.filterButtons{
    @include flex-box(row);
    width: 100%;
    height: 100%;
    justify-content: start;
    gap: 1em;
}

.filterInputContainer{
    @include flex-box(row);
    width: 100%;
    height: 100%;
    justify-content: start;
    gap: 1em;

    input{
        padding: 0.5rem 1rem;
        border-radius: 8px;
        border: 1px solid #ccc;
        font-size: 1.3rem;
        width: 800px;
        max-width: 100%;
    }
}

.cards{
    @include flex-box(row);
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 1em;
    width: 100%;
}

.loader{
    @include flex-box(row);
    width: 100%;
    height: 100vh;
}