@mixin flex-box($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
@use 'src/styles/abstracts' as *;

.section{
    @include flex-box(column);
    width: clamp(100px, 10vw, 150px);
    background-color: #000000;
    color: #fff;
    padding: 1em 2em;
    border: 2px solid #fff;
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}