@use 'src/styles/abstracts' as *;

@mixin flex-box($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}



.menuIcon {
    background: transparent;

    button {
        background: transparent;
        border: none;
        outline: none;
    }

    display: block;

    @media screen and (width >=$breakpoint-sm) {
        display: none;
    }
}


.menuItems{
    // @include flex-box(column);
    gap: 5em;
    color: #fff;
}

.menuDropdown{
    @include flex-box(column);
    background-color: #000;
    color: #fff;
    gap: 5em;
    padding: 1em 0em;
}